body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

ul {
  list-style: none;
  background-color: rgb(138, 224, 138);
  color: black;
}

li {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  position: relative;
}

li:hover {
  background-color: black;
  color: rgb(138, 224, 138);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown ul li {
  display: block;
  padding: 10px;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}
