body {
  font-family: Arial;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

input[type="radio"] {
  display: none;
}
.container {
  text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

label {
  padding: 10px 20px;
  background: #e28d8d;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

input:checked + label {
  background: black;
  color: white;
}

.content {
  position: relative;
  height: 180px;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  background: rgb(182, 227, 179);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.4s ease;
  padding: 10px;
}
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3 {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}
