* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(130deg, rgb(145, 234, 145), rgb(140, 228, 237));
}

.accordian {
  margin: 100px auto;
  width: 600px;
}

.accordian li {
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: aliceblue;
  color: black;
  padding: 10px;
}

.accordian li label {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: brown;
  cursor: pointer;
}

.accordian li label span {
  transform: rotate(90deg);
  font-size: 16px;
}

.accordian label + input[type="radio"] {
  display: none;
}

.accordian .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.accordian label + input[type="radio"]:checked + .content {
  max-height: 400px;
}
